<h1>Login Page!</h1>
<form action='/log_in' method='POST'>
  <strong> Type your ID and password!</strong>
  <input type='text' name='name' placeholder='ID' />
  <input type='password' name='password' placeholder='password' />
  <input type='submit' value='login' />
</form>

If you don't have one yet, <a href='/sign_up'> click here. </a>
