<h1>Sign up</h1>

<form action='/new_user' method='POST'>
  <strong>Create a new user</strong>
  <input type='text' name='name' placeholder='ID' />
  <input type='password' name='password' placeholder='password' />
  <input type='submit' value='Save'/>
</form>
<a href="/"> back </a>
