<h1>We are using <%= @album.name %></h1>

<form action='/<%= @album.id %>/upload_background' method='POST'>
  <strong>New Task:</strong>
  <input type='text' name='background' placeholder='URL for background' />
  <input type='submit' value='Save'>
</form>

<a href="/" class="btn btn-danger"> Go back to album lists!</a>
