h1 {
  text-align: center;
  font-family: "Sans-serif", Verdana;
  font-size: 40px;
  color: #FFFFFF;
}

h2 {
  text-align: center;
  font-family: "Sans-serif", Verdana;
  font-size: 23px;
  color: #FFFFFF;
}

h3 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  color: #000000;
}

h4 {
  font-family: "Sans-serif", Verdana;
  font-size: 23px;
  color: #000000;
}


body {
  min-height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  color: #FFFFFF;
  style: bold;
}

#background {
  background-color:#000000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.stretch {
  width:100%;
  height:100%;
}

table, th, tr {
  border-style: none;
  align: center;
  text-align: center;
}

img {
  width: 250px;
  height: auto;
}


/* ALBUM LIST ----------------------------------------------------------*/


table#t1, th, td {
  border: 1px solid transparent;
  align: center;}

td {
  font: font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  text-align: center;

}

label {
  color: black;
  font-size: 17px;
}



/* PHOTOLIST ----------------------------------------------------------*/


.infobox {

  text-align: center;
  margin-top: 0;
  margin-right: 150px;
  margin-left: 150px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  width: 300px;
  height: 250px;

}

.infobox div + div {
  margin-top: 1em;
}



textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
  It does not work on every browsers */
  resize: vertical;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}


.addphotoform {

  text-align: center;
  margin: .5em auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.addphotoform div + div {
  margin-top: 1em;
}
