h1 {
  text-align: center;
  font-family: "Sans-serif", Verdana;
  font-size: 40px;
  color: #FFFFFF;
}

h2 {
  text-align: center;
  font-family: "Sans-serif", Verdana;
  font-size: 23px;
  color: #FFFFFF;
}

h3 {
  text-align: center;
  font-family: "Sans-serif", Verdana;
  font-size: 40px;
  color: #000000;
}

h4 {
  font-family: "Sans-serif", Verdana;
  font-size: 23px;
  color: #000000;
}


a:hover {
  color: red; /* the hyperline */
}

body {
  min-height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  color: #FFFFFF;
  style: bold;
}

#background {

  background-color:#000000;

  opacity: 0.8;

  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
  width:100%;
  height:100%;
}

table, th {
  border-style: none;
  align: center;
}

td {
  font: font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  color: #FFFFFF;

}

/*GENERAL NOT DONE------------------------------------------------*/

.btn.complete {
  margin-right: 10px;
}






ul, ol {
  float: left;

}







.button {
  background:#09C;
  color:#fff;
  font-family: Tahoma, sans-serif;
  height:30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1p #999;
}

.button:hover{
  background: #3EB1DD;
}







/*

.row {
margin-left:  (@gutter / -2);
margin-right: (@gutter / -2);
}

.make-md-column(@columns; @gutter: @grid-gutter-width) {
position: relative;
min-height: 1px;
padding-left:  (@gutter / 2);
padding-right: (@gutter / 2);

@media (min-width: @screen-md-min) {
float: left;
width: percentage((@columns / @grid-columns));
}
}

.contain-main {
.make-md-column(4);
}

*/

/* LOGIN LIST ----------------------------------------------------------*/

.welcomebox {

  text-align: center;
  /* Just to center the form on the page */
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;

}

.welcomebox div + div {
  margin-top: 1em;
}


/* ALBUM LIST ----------------------------------------------------------*/
.container1 {
  width: 80px;
  height: 80px;
}

.container1 img {
  width: 100%;
  height: auto;
}



/* PHOTOLIST ----------------------------------------------------------*/

.container2 {
  width: 300px;
  height: 400px;
}

.container2 img {
  width: 100%;
  height: auto;
}

.infobox {

  text-align: center;

  /* Just to center the form on the page */
  margin-top: 0;
  margin-right: 150px;
  margin-left: 150px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;

}

.infobox div + div {
  margin-top: 1em;
}



textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
  It does not work on every browsers */
  resize: vertical;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
  By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text field */
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}


.addphotoform {

  text-align: center;
  /* Just to center the form on the page
  .5em changes the height

  */
  margin: .5em auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.addphotoform div + div {
  margin-top: 1em;
}
